<!doctype html>
<html lang="zh">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Translate and analyze text with Azure Cognitive Services.">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>KNN algorithm</title>
  </head>
  <body>
    <div class="container">
      <h1>Online Train</h1>
      <p>Give me parameter, I will give u a score.
      </p>
      <div class="row">
        <div class="col">
          <form>
            <div class="form-group">
              <label for="para-to-train"><strong>Enter the parameter</strong></label>
              <input type="file_url" class="form-control" id="file_url" aria-describedby="file url" placeholder="Enter file url,   e.g. ./dis.txt" value='buildin_iris'>
              <input type="numfields" class="form-control" id="numfields" aria-describedby="numfields" placeholder="Enter   numfields (Feature cols)" value='4'>
              <input type="numNearestNeigbours" class="form-control" id="numNearestNeigbours" aria-describedby="num of Neigbours"   placeholder="Enter num of Neigbours" value='5'>
              <input type="distance" class="form-control" id="distance" aria-describedby="choose distance" placeholder="Enter   distance u want(distanceAbs、distanceEuc、distanceChe、distanceCos)" value='distanceAbs'>
              <label for="para-to-train">
              	For example: data=[0.1, 0.2, 0.3, 0.4], [...]  --> numfields = 4<br>
              	Distance: 歐式距離(distanceEuc)、曼哈頓距離 (distanceAbs)、chebyshev distance(distanceChe)、餘弦距離(distanceCos)<br>
              </label>
  
            </div>
              
            <button type="submit" class="btn btn-primary mb-2" id="train">Train</button></br>
            </br>
          </form>
        </div>

        <div class="col">
          <form>
            <div class="form-group" id="train-response">
              <label for="train-result"><strong>Return:</strong></label>
              <textarea readonly class="form-control" id="train-result" rows="5"></textarea>
            </div>
          </form>
        </div> <!-- col -->
      </div> <!-- row -->

      <div class="row">
        <div class="col">
          <form>
            <div class="form-group">
              <label for="para-to-train"><strong>Enter the query information</strong></label>
              <input type="number" class="form-control" id="query_num" aria-describedby="query_num" placeholder="Enter query number">
            </div>
            <button type="submit" class="btn btn-primary mb-2" id="query">Query</button></br>
            </br>
          </form>
        </div>

        <div class="col">
          <form>
            <div class="form-group" id="query-response">
              <label for="query-result"><strong>Return:</strong></label>
              <div>
              	<table class='table dark-table' id='query-table'></table>
              </div>
            </div>

          </form>
        </div> <!-- col -->
      </div> <!-- row -->

    </div> <!-- container -->

    <!-- Required JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type = "text/javascript" src ="static/scripts/main.js"></script>
  </body>
</html>